﻿@using TwinMaskDB.Models.TMModels
@model object

@{
    ViewBag.Title = "Character Management";
    Layout = "_Layout";
}

@if (ViewData.ContainsKey("Player"))
{
    <h2>@($"{ViewData["Player"]}'s Characters")</h2>
}
else
{
    <h2>Characters</h2>
}
@{
    <div class="list-group" id="product-filter-data">
        <div class="list-group-item row text-left">
            <div class="col-sm-1 text-left">
                <label class="checkbox-inline">
                    <input type="checkbox" id="check-all" value="option1"> All
                </label>
            </div>
            <div class="col-sm-1 m-l-l text-left">
                <input type="button" class="btn btn-tiny btn-default" id="check-none" value="select none">
            </div>
        </div>
        <div id="list" style="max-height: 300px;" class="overflow-y-scroll">
            @if (((List<CharacterModel>) ViewData["Characters"]).Any())
            {
                foreach (var item in (List<CharacterModel>) ViewData["Characters"])
                {
                    <div class="list-group-item row">
                        <div class="col-sm-1 text-left">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="IdContainers" value="@item.Id"> Select
                            </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="media-body">
                                <h4 class="media-heading product_name">@item.Name</h4><br/>
                                @item.Skills
                            </div>
                        </div>
                        
                    </div>
                }
            }
            else
            {
                <h3>You dont have any characters</h3>
            }
        </div>
    </div>
}
