﻿@using TwinMaskDB.Models.TMModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="list-group" id="product-filter-data">
        <div class="list-group-item row text-left">
            <div class="col-sm-1 text-left">
                <label class="checkbox-inline">
                    <input type="checkbox" id="check-all" value="option1"> All
                </label>
            </div>
            <div class="col-sm-1 m-l-l text-left">
                <input type="button" class="btn btn-tiny btn-default" id="check-none" value="select none">
            </div>
        </div>
        <div id="list" style="max-height: 300px;" class="overflow-y-scroll">
            @foreach (var item in (List<SkillModel>)ViewData["skills"])
            {
                <div class="list-group-item row">
                    <div class="col-sm-1 text-left">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="IdContainers" value="@item.Id"> Select
                        </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="media-body">
                            <h4 class="media-heading product_name">@item.SkillName</h4><br/>
                            @item.SkillDescription
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="media-right">
                            <h5>"Cost"</h5><br/>
                            @item.Cost
                            <h5>"Prerequisites</h5><br/>
                            @foreach (var prereq in item.PrerequsiteList)
                            {
                                @prereq<br/>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
